<div class="container">
<br/>
<div class="sign-in jumbotron">
	<div class="container">
	  <h2 class="display-4 text-center">Welcome To AskBoss!</h2>
	  <br/>

	  <%= render partial: '/sessions/form' %>
	  
  </div>

</div>
</div>
