<div class="container">
<br/><br/><br/>
<div class="sign-in jumbotron">
	<div class="container">
	  <h1 class="text-center t-2em">Welcome To AskBoss!</h1>
	  <br/>

	  <%= render partial: '/sessions/form' %>
	  
  </div>

</div>
</div>
