<%=form_for @user do |form| %>


	<div class="field">
	    <%= form.label :libraries %>
	    <%= form.file_field :libraries, multiple: true %>
  	</div>

	<div class="submit-field">
	  <%= form.submit %>
	</div>


 <% end %>
>>>>>>> installed all necessary gems and required the necessary in order to upload files and images
