<div class="container">
    <br/>

  <div id="clearance" class="sign-up jumbotron">
    <div class="container">
    <h2 class="display-4 text-center">Sign Up With AskBoss</h2>
    <br/>

    
      <%= render partial: '/users/form' %>

   
    </div>
  </div>
</div>