
<br>
<div>
	<div class="card-deck">
		<%for i in @flashcards do%>
			<div class="card", style="width: 250px;">
				<div class="card-body">
					<h5 class="card-title"><%= i.name %></h5>
						<h6 class="card-subtitle mb-2 text-muted">By <%= i.user.first_name %> <%= i.user.last_name %></h6>
					    <%= link_to "show", "/flash_cards/#{i.id}", class: 'card-link' %>
				</div>
			</div>
		<%end%>
	</div>
</div>
<hr>
<div class="text-center">
		<a href="/flash_cards/new"><div class="btn btn-primary">Create New Flash Card</div></a>
</div>

