<br>
<%= form_for @flashcard do |f|%>
	<div class="container">
		<div class="field">
		    <label for="exampleInputEmail1">Flashcard name</label>
		    <%= f.text_field :name,  placeholder: "Enter Name of Flashcard", class: 'form-control' , type: 'text' %>
	    </div>
	</div>
	<br>
		<div class="text-center">
		    <div class="actions">
		    <%= link_to 'Back', dashboard_path(current_user), class: 'btn btn-light shadow-sm' %>
		    <%= f.submit "Submit",class: "btn btn-light shadow-sm" %>
	  	</div>
	 </div>
<% end %>