/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome";
@import "bootstrap";
@import "dataTables.bootstrap4.css";
@import "sb-admin.min";
@import "half-slider";
@import "flashcards";
@import "style.css";

body {
  margin: 0;
  padding: 0;
  background-image: url(retro_bg.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5)),url(retro_bg.jpg);
  /*background-position: absolute;*/
  background-size: 100% auto;
  /*position: absolute;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: relative;
}

.fill{
  height: 95vh;
}

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 5px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 5px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}
.captions {
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0px;
  width: 500px;
  text-align: center; 
  margin-left: 30%;    
}

.captions-top {
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0px;
  width: 500px;
  text-align: center;
  margin-left: 30%;
}

footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background: rgba(52,58,64,0.6);
}

.text-center {
  font-size: 20px;
}

.t-2em{
  font-size: 2em;
}

.dark {
  background: rgba(52,58,64,0.4);
}

.bg-secondary {
  opacity: .8 ;
}

.bg-light {
  opacity: .6 ;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

#avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: cover; 
}

.text-small {
  font-size: 1em;
  margin-top: 1.5em;
}

.jumbotron {
  padding-top: 2rem;
  background: rgba(255,255,255,0.4);
}

.light {
  background: rgba(255,255,255,0.4);
}

.opaque-4 {
  opacity: .4;
}